.book-carousel-img  {
    height: 200px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
  }
  
  .book-carousel-img:hover {
    transform: scale(1.03);
  }