.book-card {
  width: 100%;
  min-height: 350px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.2s;
}
.book-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .book-card {
    min-height: 300px;
  }
}

.region-text {
  font-size: 0.85rem;
  margin-top: -10px;
}
